/*header bloсk*/

.logo:hover {
  color: var(--title-text-color);
}
.list {
  list-style: none;
}
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.contacts .contacts-details:hover {
  color: var(--acsent-color);
}

.site-nav .link .current {
  color: var(--acsent-color);
}

.contacts .contacts-details {
  color: var(--primery-text-color);
}

/*hero block*/

.hero-title {
  color: var(--secondary-color);
}

/*section block*/

.section-title,
.title {
  color: var(--title-text-color);
}

/*advantages*/

.advantages-list .title {
  color: var(--title-text-color);
}

/*buttom*/

.hero-button {
  color: var(--secondary-color);
  background-color: var(--acsent-color);
}
